body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header{
    background-color: #4caf50;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

header h1{
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

nav{
    background-color: #4caf50;
    color: #fff;
    padding: 10px 0px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #4caf50;
}

nav ul li a:hover{
    background-color: #45a049;
}